# Python
__pycache__/
venv/
.venv/
.pytest_cache/
.ruff_cache/

# Environment & Config
config/.env*
!config/.env.example

# Backup Data
*backup.sql

# Data & Exports
*.csv

# Logs
logs/
*.log

# Test coverage
.coverage*

# Evals
chat_runs*.sql
feedback_*.sql
chat_run*
log.txt
chat_*.json